body {
    --rand1: 0;
    --rand2: 0;
    font-family: Monaco;
    background-color: rgb(29,29,29);
    background-size: 45px 45px;
    background-position: 0,0;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(rgb(255, 0, 0) 1px,  transparent 0%);
    background-position: var(--rand1), var(--rand2);
    
}
 
@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('font/Monaco.woff') format('woff');
}

a {
    color: red;
}

div.topbar {
    display: flex;
    align-items: center;
}

div.titlebar {
    border-radius: 8px;
    background-color: rgba(34, 34, 34, 0.8);
    margin-left: 8px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.error-content {
    background-color: rgba(34, 34, 34, 0.8);
    text-align: center;
}

span.title {
    color: white;
    font-size: 35px;
}

span.subtitle {
    color: white;
    font-size: 15px;
    margin-top: 5px
}

ul.navbar {
    border-radius: 8px;
    background-color: rgba(34, 34, 34, 0.8);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    border-radius: 8px;
    background-color: #555;
}
