::selection {
    background: red;
    color: black;
}

body {
    font-family: Monaco;
    background-color: rgb(28, 28, 28);
    background-size: 50px 50px;
    background-position: 0,0;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(rgb(102, 102, 102) 1.35px,  transparent 0%);
}

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('font/Monaco.woff') format('woff');
}

a {
    color: red;
}

div.topbar {
    display: flex;
    align-items: center;
}

div.titlebar {
    border-radius: 8px;
    background-color: rgba(47, 47, 47, 0.45);
    margin-left: 8px;
    flex-direction: column;
    min-height: 107px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: background-color .25s ease-in-out;
}

div.titlebar:hover {
    background-color: rgba(119, 105, 105, 0.45);
}

div.error-content {
    background-color: rgba(47, 47, 47, 0.45);
    text-align: center;
    border-radius: 8px;
}

span.title {
    color: white;
    font-size: 35px;
}

span.subtitle {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

ul.navbar {
    border-radius: 8px;
    background-color: rgba(47, 47, 47, 0.45);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    border-radius: 8px;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .25s ease-in-out;
}

ul.navbar li a:hover {
    background-color: rgba(119, 105, 105, 0.45);
}

hr {
    display: block;
    height: 4px;
    border: 0;
    background-color: rgba(47, 47, 47, 0.45);
    margin: 1em 0;
    padding: 0;
}

div.contentwrapper {
    display: flex;
}

div.content {
    background-color: rgba(47, 47, 47, 0.45);
    border-radius: 8px;
    margin: auto;
}

div.lsidecontent {
    padding-right: 8px;
    width: 20%;
}

div.maincontent {
    width: 60%;
}


div.rsidecontent {
    padding-left: 8px;
    width: 20%;
}


div.sidecontent {
    padding-right: 8px;
    width: 33%;
}

div.maincontent2 {
    padding-right: 8px;
    width: 66%;
}

span.contenttitle {
    background-color: rgba(47, 47, 47, 0.45);
    border-radius: 8px;
    display: block;
    text-align: center;
    margin-bottom: 4px;
    color: white;
    font-size: 35px;
}

div.bottom {
    text-align: center;
    position: fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background-color: rgba(47, 47, 47, 0.45);
}