
body {
    font-family: Monaco;
    background-color: rgb(28, 28, 28);
    background-size: 40px 40px;
    background-position: 0,0;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(rgb(255, 255, 255) 1px,  transparent 0%);
}

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('font/Monaco.woff') format('woff');
}

a {
    color: red;
}

div.topbar {
    display: flex;
    align-items: center;
}

div.titlebar {
    border-radius: 8px;
    background-color: rgba(47, 47, 47, 0.45);
    margin-left: 8px;
    flex-direction: column;
    min-height: 107px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure titlebar takes up full height of topbar */
}

div.error-content {
    background-color: rgba(47, 47, 47, 0.45);
    text-align: center;
}

span.title {
    color: white;
    font-size: 35px;
}

span.subtitle {
    color: white;
    font-size: 15px;
    margin-top: 5px;
}

ul.navbar {
    border-radius: 8px;
    background-color: rgba(47, 47, 47, 0.45);
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

ul.navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    border-radius: 8px;
    background-color: rgba(65, 56, 56, 0.45);
}

hr {
    display: block;
    height: 4px;
    border: 0;
    background-color: rgba(47, 47, 47, 0.45);
    margin: 1em 0;
    padding: 0;
}